SECRET_KEY=SECRET_KEY
NAME=NAME
USER=USER
PASSWORD=PASSWORD
HOST=HOST
DB_PORT=DB_PORT
DEBUG=DEBUG
SESSION_COOKIE_AGE=SESSION_COOKIE_AGE
SESSION_SAVE_EVERY_REQUEST=SESSION_SAVE_EVERY_REQUEST
API_KEY=API_KEY